
body {
  font-family: 'Arial', sans-serif;
  margin: 1%;
  padding: 1%;
  color: #eee;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}


.soc {
  color: rgb(141, 243, 97);
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s;
}

.soc:hover {
  color: rgb(113, 141, 65);
  transition: 0.2s;
  border: none;
}



header {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 40px;
  text-align: center;
  background-image: url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjU2ZGVzaWduLXJlbWl4MS0wMThhLWcuanBn.jpg');
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(195, 147, 147, 0.5)), /* Transparent layer */
    url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA2L3JtNjU2ZGVzaWduLXJlbWl4MS0wMThhLWcuanBn.jpg'); /* Image */
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 2.5rem;
  color: #f8eeee;
  margin-bottom: 20px;
}

h5 {
  font-weight: 900;
}

 .avat {
  border-radius: 50%;
  border: 4px solid #6c757d;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
}

.contact-section {
  margin-bottom: 30px;
}

.contact-section h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact-info img {
  width: 30px;
  margin-right: 15px;
}

.contact-info a {
  text-decoration: none;
  color: #007bff;
  font-size: 1.2rem;
}


.skills {
  background-image: url('https://t3.ftcdn.net/jpg/03/23/92/96/360_F_323929694_BKkGKE8dWIWqpG91tzYFC3GHPNdjg6mh.jpg');
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skills h2 {
  font-size: 2rem;
  color: #fff7f7;
  text-align: center;
  margin-bottom: 20px;
}

.skills ul {
  list-style-type: none;
  padding: 0;
}

.skills li {
  display: flex;
 text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  border-bottom: 1px solid #eee;
}

.skills li:last-child {
  border-bottom: none;
}

.skills li span {
  margin-right: 15px;
  font-size: 1.5rem;
}


.darbukai {
  text-align: center;
  padding-top: 10%;
}

.nuotraukadarb {
  height: 500px;
  width: 900px;
  padding-bottom: 2%;
}


.parag {
  font-weight: 900;
  background-color: cadetblue;
  width: 300px;
  padding: 1%;
  border-radius: 110px;
  height: 80px;
  font-weight: 900;
  text-align: justify;
  background-color: cadetblue;
  width: 300px;   
  height: 80px;   
  margin: auto; 
}

.nuor {
  position: relative;
  top: 20px;
  font-weight: 900;
  margin-right: 2%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  font-weight: 900;
  font-size: 30px;
  border: #333;
  color: gold;
  border-radius: 10px;
}
.nuorr {
  position: relative;
  top: 20px;
  font-weight: 900;
  font-size: 30px;
  border: #333;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  color: gold;
  border-radius: 10px;
}


.nuor:hover {
  color: rgb(211, 222, 92);
  transition: 0.2s;
  border-radius: 5%;
}

.nuorr:hover {
  color: rgb(211, 222, 92);
  transition: 0.2s;
  border-radius: 5%;
}

.portfolio {
  color: #333;
}

.nuo {
  color: #333;
  font-size: 20px;
  font-weight: 900;
  padding-top: 3%;
}


